html {
  background-image: url('images/background.PNG');
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  height: 550px;
  width: 550px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  top: 50px;
  border: 6px solid #0000006e;
  box-shadow: 6px 5px 2px #8080806b;
}

.container div {
  padding: 0;
  margin: 0;
}

button {
  border: 1px solid #afa8a84f;
  border-radius: 5px;
  background-color: #e2e2e2;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-align: center;
  height: 50px;
  width: 150px;
  margin: 20px 20px;
  display: inline-block;
  box-shadow: 3px 3px 2px #8080806b;
}

button:focus {
  outline: 0;
}

button:hover {
  transition: all .07s ease;
  transform: scale(1.1);
}

.left {
  position: relative;
  display: inline-block;
  top: -300px;
  left: 170px;
  float: left;
}

.blue {
  position: relative;
  top: 100px;
  left: -194px;
}

.right {
  position: relative;
  display: inline-block;
  top: -300px;
  float: right;
  right: -8px;
}

.rainbow {
  position: relative;
  top: 100px;
  right: 194px;
}

.bottom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
}
